.About-container{
display:flex;
  color:black;
  background-color:whitesmoke;
  height: 80vh;

  width:100%;
 }
  .about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px
  }
  .about-desc > h3 {
   
    font-size: 20px;
  }
  .about-desc > p {
    line-height: 1.5;
  }
  .about-img {
   width: 45%;
   display: flex;
   align-self: center;
   overflow: hidden;
    }
.About-contact {
  display: block;
 
}
.About-contact > h2{
  text-align: center;
}
.About-contact > p{
  text-align: center;
}
    /*@media screen and(max-width:750px) {
      .About-container{
       color:black;
        background-color:white;
        height: 40vh;
        }*/
        @media (max-width: 760px) {
          .About-container{
            display:flex;
            width:100%;
            height: auto;
            background-color:whitesmoke;
           
          }
        .about-desc {
          display:flex;
         
         
        }
        .about-desc > h3 {
          margin-bottom: 10px;
          font-size: 22px;
        }
        .about-desc > p {
         font-size: 18px;
      
         align-self:flex-start;
        
        }
        .about-img {
          display: none;
          }
          .About-contact {
  display: none;
 
}
    }