.Experience-container{
    display:block;
    flex-direction:row;
background-color:lightgray;

width:100%;
}
.Experience-container >h3{
    text-align: center;
}
.Experience-container >h4{
    text-align: center;
}


.Experience-Proyectos {
 
    display: flex;
    flex-direction:row;
   

}

.title {
    display: flex;
 
}
.title > h2 {
    text-align: center;
}
 

.Proyecto1 {
    margin: auto;
    border-radius: 2px;
    padding: 2px;
    cursor:pointer;
}
.Proyecto2 {
    margin: auto;
    border-radius: 2px;
    padding: 2px;
    cursor:pointer;

}
.Proyecto3 {
    margin: auto;
    border-radius: 2px;
    padding: 2px;
    cursor:pointer;
}
.Proyecto4 {
    margin: auto;
    border-radius: 2px;
    padding: 2px;
    cursor:pointer;
}
.Proyecto5 {
    margin: auto;
    border-radius: 2px;
    padding: 2px;
    cursor:pointer;
}
@media (max-width: 760px) {
    .Experience-container{
      display:block;
    }
  .Experience-Proyectos{
      display:block;
      align-content:stretch;
  }
  img {
      width:100%;
  }
}